.vue-notify-style {
    padding: 15px;
    margin: 5px 20px;
    border-radius: 5px;

    .notification-title {
        // Style for title line
    }

    .notification-content {
        // Style for content
    }

    &.success {
        background: #00bc8c;
        border-left-color: #fff;
        text-align: center;
        font-size: 22px;
    }
}
