html, body {
    background-color: #3db36b;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

a {
    color: #fff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}


.welcome-lang-switcher {
    margin-top: -5px;
    margin-right: -5px;
}

.dropdown-menu {
    background: none;
    border: 1px solid #fff;
    min-width: inherit;
}

.dropdown-menu a:hover{
    background: #fff;
    color: #3db36b;
}
