<template>
    <div>
        <notifications group="foo" classes="vue-notify-style"/>
        <div class="modal fade" id="addVueWord" tabindex="-1" aria-labelledby="addVueWordLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addVueWordLabel">{{lang.add_word}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="word">{{lang.word}}</label>
                            <input type="text" class="form-control" id="word" v-model="word">
                        </div>

                        <div class="form-group">
                            <label for="translate">{{lang.translate}}</label>
                            <input type="text" class="form-control" id="translate" v-model="translate">
                        </div>

                        <div class="form-group">
                            <label for="transcription">{{lang.transcription}}</label>
                            <input type="text" class="form-control" id="transcription" v-model="transcription">
                        </div>

                        <div class="form-group">
                            <label for="description">{{lang.description}}</label>
                            <textarea class="form-control" id="description" rows="3" v-model="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" v-on:click="addWord">{{lang.save}}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.close}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        translation: String,
    },
    data() {
        return {
            vocabularyId: null,
            word: '',
            translate: '',
            transcription: '',
            description: '',
            type: null,
            lang:{}
        }
    },
    mounted() {
        this.getVocabularyId();
        this.setTranslation();
    },
    methods: {

        clearAll() {
            this.word  = '';
            this.translate  = '';
            this.transcription  = '';
            this.description  = '';
        },

        getVocabularyId() {
            if(document.querySelectorAll('.add-word-button')) {
                document.querySelectorAll('.add-word-button').forEach((e) =>  {
                    e.addEventListener('click', (element) => {
                        this.vocabularyId = element.target.getAttribute('data-vocabulary-id');
                    });
                });
            }

        },

        addWord() {
            let request = {
                'vocabulary_id': this.vocabularyId,
                'word': this.word,
                'translate':  this.translate,
                'transcription': this.transcription,
                'description': this.description,
                'type': this.type,
            }

            console.log(request);

            this.$store.dispatch('addWord', request);
            this.clearAll();
        },

        setTranslation() {
            console.log(this.translation);
            this.lang = JSON.parse(this.translation);
        }

    }
}
</script>

<style scoped>

</style>
