<template>

</template>

<script>
export default {
    props: {

    },
    data() {
        return {

        }
    },
    mounted() {
        this.getLanguage();
    },
    methods: {
        getLanguage() {
            if(document.querySelector('.lang-switcher')) {
                let langSwitchers = document.querySelectorAll('.lang-switcher');
                langSwitchers.forEach(langSwitch => {
                    langSwitch.addEventListener('click', (e) => {
                        let language = e.target.getAttribute('data-lang');
                        this.updateSessionLanguage(language);
                    });
                });
            }
        },

        updateSessionLanguage(language) {
            this.$store.dispatch('setLanguageToSession', {language});
        }

    }
}
</script>

<style scoped>

</style>
