<template>
    <div class="modal fade" id="reportBug" tabindex="-1" aria-labelledby="reportBugLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportBugLabel">Report a bug</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="bug-description">Bug description</label>
                            <textarea class="form-control" id="bug-description" rows="5" v-model="bugDescription"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="sendEmail">Send</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
      return {
          bugDescription: "",
      }
    },
    methods: {
        sendEmail() {
            const request = {
                body: this.bugDescription
            }

            this.$store.dispatch('reportBug', request);
        }
    }
}
</script>

<style scoped>

</style>
